# Ignore node_modules in backend
/backend/node_modules/

# Ignore node_modules in orthopride_app
/orthopride_app/node_modules/

# Ignore whatsapp cache
/backend/src/.wwebjs_auth
/backend/src/.wwebjs_cache